.searchbar_section {
     width: 60%;
     border-radius: 5px;
     box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 60px;

}

.searchbar_section form {
    display: flex;
    align-items: center;
}

.searchbar_section input{
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
}

.searchbar_section span {
    padding-right: 0.5rem;
}




.dataResult{
    background-color: white;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    width: 60%;
}

.dataItem{
    color: black;
    padding: 7px;
    text-decoration: none;
}

.dataItem:hover{
    background-color: #efefef;
}